.App {
  text-align: center;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #f4f7f6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.title{
  color: darkblue;
  font-size: 30px;
  margin-top: 0rem;
}

.overspeed {
  margin-top: 0%;
}